{% extends "body.html" %}
{% block content %}
    <!-- Content -->
    <script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        theme : "advanced",
        readonly : true
});
</script>

    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                      <th style="width: 20%">Time</th>
                        <th style="width: 80%">Comment</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in comments %}
                   <tr>
                       
                       <td>{{ item.time }}</td>
                       <td>
        <pre>{% autoescape off %}{{ item.comment }}{% endautoescape %}
        </pre>
                       </td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>






{% endblock %}