{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if userIsMember %}
				<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
				<a href="/group/helloWorld?name={{ group.name }}" class="btn btn-default">Add A Member!</a>
				<a href="/group/GetSuggestedGroups?name={{ group.name }}" class="btn btn-default">Suggest Group Project</a>
				{% if group.project != None %}
				<p>Current Project: {{ group.project.name }} </p>
					
					<a href="/group/RemoveProject?name={{ group.name }}" class="btn btn-default">Remove Current Project</a>
				{% else %}
					<a href="/group/addProject?name={{ group.name }}" class="btn btn-default">Add Project</a>	
				{% endif %}
			{% else %}
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			{% endif %}
			<a href="/group/comment?name={{ group.name }}" class="btn btn-default">Comment</a>			
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody>
					  {% for item in group.comments.all %}
                   <tr>
                       <td>{{ item.time }}</td>
                       <td>
						   <pre>{% autoescape off %}{{ item.comment }}{% endautoescape %}</pre>
                       </td>
					   	{% if user == item.poster %}
					   <td><a href="/group/deleteComment?name={{ group.name }}&comment={{ item.id }}" class="btn btn-default">Delete</a></td>
					   {% endif %}
					   
                   </tr>
                   {% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}